/* ----- BASE ----- */
/* --- BLUES --- */
/* --- DARKS --- */
/* --- WHITES --- */
body {
  background: #f5f7fb; }

#container {
  background: #f5f7fb; }

.home-banner .hb-text h3 {
  font-size: 4.5em; }
.home-banner .hb-text p {
  font-size: 1.4em; }

.footer-about .fot-logo {
  padding-bottom: 0px !important; }
  .footer-about .fot-logo img {
    margin-top: -36px;
    margin-left: -36px; }

.text-white {
  color: #ffffff !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.price-text-white-30 {
  color: #ffffff !important;
  font-size: 30px; }

.font-24 {
  font-size: 24px !important; }

/* ----- COMPONENTS ----- */
.app-nav {
  background-color: #fff !important;
  color: #495057;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  padding-bottom: 0 !important;
  height: 65px; }
  .app-nav .app-nav-container {
    padding-bottom: 0 !important;
    height: 65px !important; }
    .app-nav .app-nav-container .app-organization-select {
      padding: 0 0.75rem; }
      .app-nav .app-nav-container .app-organization-select .app-nav-logo {
        float: left;
        height: 35px;
        margin-right: 5px;
        margin-left: 10px;
        margin-top: -8px; }
      .app-nav .app-nav-container .app-organization-select .nav-organization-dropdown {
        color: #495057 !important;
        height: 65px; }
        .app-nav .app-nav-container .app-organization-select .nav-organization-dropdown .nav-organization-name {
          color: #495057 !important; }
    .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown {
      align-items: center; }
      .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle {
        float: right; }
        .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info {
          display: inline-block;
          width: auto;
          padding-top: 16px; }
          .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info .avatar-dropdown {
            float: left;
            height: 35px;
            width: 35px;
            margin-right: 5px;
            border-radius: 50%;
            border: 1px solid #9aa0ac; }
            .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info .avatar-dropdown:hover {
              border: 1px solid #2a60d9;
              -webkit-transition: color 0.2s ease, border 0.5s ease;
              -moz-transition: color 0.2s ease, border 0.5s ease;
              -o-transition: color 0.2s ease, border 0.5s ease;
              transition: color 0.2s ease, border 0.5s ease; }
          .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info .user-dropdown-username {
            float: right;
            align-items: center;
            margin-top: 7px; }
            .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info .user-dropdown-username .user-dropdown-title {
              font-size: 0.8em;
              line-height: 1; }
            .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info .user-dropdown-username .user-dropdown-subtitle {
              font-size: 0.6em; }
          .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle .user-dropdown-info:hover {
            color: #2a60d9;
            -webkit-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            -o-transition: color 0.2s ease;
            transition: color 0.2s ease; }
        .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-toggle:after {
          display: none; }
      .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-menu {
        float: right;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 0.9375rem;
        color: #495057;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 40, 100, 0.12);
        border-radius: 3px; }
        .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-menu .dropdown-item {
          display: block;
          width: 100%;
          padding: 0.25rem 1.5rem;
          clear: both;
          font-weight: 400;
          text-align: inherit;
          white-space: nowrap;
          background-color: initial;
          border: 0; }
          .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-menu .dropdown-item .dropdown-icon {
            color: #9aa0ac;
            margin-right: 0.5rem;
            margin-left: -0.5rem;
            width: 1em;
            display: inline-block;
            text-align: center;
            vertical-align: -1px; }
          .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-menu .dropdown-item:hover {
            background: #f8f9fa; }
        .app-nav .app-nav-container .app-user-dropdown-container .app-user-dropdown .dropdown-menu .dropdown-divider {
          height: 0;
          margin: 0.5rem 0;
          overflow: hidden;
          border-top: 1px solid #e9ecef; }

.app-menu {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12); }
  .app-menu .nav .nav-item {
    padding: 0 0.75rem; }
    .app-menu .nav .nav-item .nav-link {
      padding: 1rem 0 !important;
      margin: 0 !important;
      text-decoration: none !important;
      color: #9aa0ac;
      font-size: 15px;
      border-radius: 0; }
      .app-menu .nav .nav-item .nav-link i {
        margin-right: 3px; }
      .app-menu .nav .nav-item .nav-link.active {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-radius: 0;
        border-bottom: 1px solid #1ba5e7;
        color: #467fcf; }
      .app-menu .nav .nav-item .nav-link:hover {
        padding: 1rem 0 !important;
        margin: 0 !important;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-radius: 0;
        border-bottom: 1px solid #495057;
        color: #495057;
        -webkit-transition: color 0.2s ease, border 0.5s ease;
        -moz-transition: color 0.2s ease, border 0.5s ease;
        -o-transition: color 0.2s ease, border 0.5s ease;
        transition: color 0.2s ease, border 0.5s ease; }

.page_header_container .page_header_title {
  margin-top: 20px; }
  .page_header_container .page_header_title .page-title {
    margin-bottom: 8px;
    line-height: 1;
    color: #000000; }
  .page_header_container .page_header_title p {
    color: #57667E;
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 2px;
    line-height: 1; }
.page_header_container .page_header_action {
  margin-top: 20px; }
  .page_header_container .page_header_action .btn {
    background: #265cdc;
    border-color: #265cdc;
    color: #ffffff;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid transparent;
    color: #FFFFFF;
    line-height: inherit;
    border-radius: 5px;
    width: auto;
    padding: 10px 25px;
    font-size: 17px;
    cursor: pointer;
    -moz-transition: ease-in-out all 0.55s;
    -o-transition: ease-in-out all 0.55s;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s; }
    .page_header_container .page_header_action .btn i {
      margin-right: 5px; }
    .page_header_container .page_header_action .btn:hover {
      background: #FFFFFF;
      color: #1E599C;
      border-color: #1E599C; }
.page_header_container hr {
  margin-top: 5px;
  margin-bottom: 10px; }

.page-section-header-container .page-section-header .page-section-title {
  color: #000000;
  font-size: 0.9em;
  font-weight: 500; }
.page-section-header-container .page-section-header-actions .page-section-header-link {
  cursor: pointer; }
  .page-section-header-container .page-section-header-actions .page-section-header-link:hover {
    color: #2a60d9; }
.page-section-header-container .page-section-header-actions i {
  font-size: 1em; }
  .page-section-header-container .page-section-header-actions i:hover {
    color: #2a60d9; }

.dragonfly-card .card {
  border-radius: 5px;
  margin-bottom: 10px; }
  .dragonfly-card .card .card-body {
    padding-bottom: 0; }
    .dragonfly-card .card .card-body h6 {
      font-size: 15px;
      color: #467fcf !important; }
    .dragonfly-card .card .card-body h7 {
      font-size: 13px;
      color: #467fcf !important; }
    .dragonfly-card .card .card-body .card-action-links {
      z-index: 999999; }
      .dragonfly-card .card .card-body .card-action-links .card-link {
        padding: 1rem 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        color: #9aa0ac;
        font-size: 14px;
        border-radius: 0; }
        .dragonfly-card .card .card-body .card-action-links .card-link i {
          margin-right: 3px; }
        .dragonfly-card .card .card-body .card-action-links .card-link.active {
          color: #467fcf; }
        .dragonfly-card .card .card-body .card-action-links .card-link:hover {
          padding: 1rem 0 !important;
          margin: 0 !important;
          color: #495057;
          -webkit-transition: color 0.2s ease;
          -moz-transition: color 0.2s ease;
          -o-transition: color 0.2s ease;
          transition: color 0.2s ease; }
      .dragonfly-card .card .card-body .card-action-links .link-campaign-edit,
      .dragonfly-card .card .card-body .card-action-links .link-video-edit {
        float: right; }
      .dragonfly-card .card .card-body .card-action-links .link-campaign-view,
      .dragonfly-card .card .card-body .card-action-links .link-video-view {
        float: left; }
  .dragonfly-card .card:hover {
    -webkit-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
    -moz-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
    box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3); }

.c3-chart-container {
  max-height: 214px;
  margin-right: -25px;
  padding-bottom: 20px;
  opacity: 0.3;
  /*-- Chart --*/ }
  .c3-chart-container:hover {
    opacity: 1; }
  .c3-chart-container .c3 {
    /*-- Axis --*/
    /*-- Grid --*/
    /*-- Text on Chart --*/
    /*-- Line --*/
    /*-- Point --*/
    /*-- Bar --*/
    /*-- Focus --*/
    /*-- Region --*/
    /*-- Brush --*/
    /*-- Select - Drag --*/
    /*-- Legend --*/
    /*-- Title --*/
    /*-- Tooltip --*/
    /*-- Area --*/
    /*-- Arc --*/ }
    .c3-chart-container .c3 svg {
      font: 10px sans-serif;
      -webkit-tap-highlight-color: transparent;
      font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }
    .c3-chart-container .c3 path,
    .c3-chart-container .c3 line {
      fill: none;
      stroke: rgba(0, 40, 100, 0.12); }
    .c3-chart-container .c3 text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: px2rem(12px); }
    .c3-chart-container .c3 .c3-zoom-rect {
      width: 360px !important; }
    .c3-chart-container .c3 .c3-event-rects {
      width: 360px !important; }
    .c3-chart-container .c3 .c3-axis,
    .c3-chart-container .c3 .c3-axis-y {
      display: none; }
    .c3-chart-container .c3 .c3-legend-item {
      display: none; }
    .c3-chart-container .c3 .c3-legend-item-tile,
    .c3-chart-container .c3 .c3-xgrid-focus,
    .c3-chart-container .c3 .c3-ygrid,
    .c3-chart-container .c3 .c3-event-rect,
    .c3-chart-container .c3 .c3-bars path {
      shape-rendering: crispEdges; }
    .c3-chart-container .c3 .c3-chart-arc path {
      stroke: #fff; }
    .c3-chart-container .c3 .c3-chart-arc text {
      fill: #fff;
      font-size: 13px; }
    .c3-chart-container .c3 .c3-grid line {
      stroke: #f0f0f0; }
    .c3-chart-container .c3 .c3-grid text {
      fill: #aaa; }
    .c3-chart-container .c3 .c3-xgrid,
    .c3-chart-container .c3 .c3-ygrid {
      stroke: #e6e6e6;
      stroke-dasharray: 2 4; }
    .c3-chart-container .c3 .c3-text {
      font-size: 12px; }
    .c3-chart-container .c3 .c3-text.c3-empty {
      fill: #808080;
      font-size: 2em; }
    .c3-chart-container .c3 .c3-line {
      stroke-width: 2px; }
    .c3-chart-container .c3 .c3-circle._expanded_ {
      stroke-width: 2px;
      stroke: white; }
    .c3-chart-container .c3 .c3-selected-circle {
      fill: white;
      stroke-width: 1.5px; }
    .c3-chart-container .c3 .c3-bar {
      stroke-width: 0; }
    .c3-chart-container .c3 .c3-bar._expanded_ {
      fill-opacity: 1;
      fill-opacity: 0.75; }
    .c3-chart-container .c3 .c3-target.c3-focused {
      opacity: 1; }
    .c3-chart-container .c3 .c3-target.c3-focused path.c3-line,
    .c3-chart-container .c3 .c3-target.c3-focused path.c3-step {
      stroke-width: 2px; }
    .c3-chart-container .c3 .c3-target.c3-defocused {
      opacity: 0.3 !important; }
    .c3-chart-container .c3 .c3-region {
      fill: steelblue;
      fill-opacity: 0.1; }
    .c3-chart-container .c3 .c3-brush .extent {
      fill-opacity: 0.1; }
    .c3-chart-container .c3 .c3-legend-item text {
      fill: #545454;
      font-size: 14px; }
    .c3-chart-container .c3 .c3-legend-item-hidden {
      opacity: 0.15; }
    .c3-chart-container .c3 .c3-legend-background {
      fill: transparent;
      stroke: lightgray;
      stroke-width: 0; }
    .c3-chart-container .c3 .c3-title {
      font: 14px sans-serif; }
    .c3-chart-container .c3 .c3-tooltip-container {
      z-index: 10; }
    .c3-chart-container .c3 .c3-tooltip {
      border-collapse: collapse;
      border-spacing: 0;
      empty-cells: show;
      font-size: 11px;
      line-height: 1;
      font-weight: 700;
      color: #fff;
      border-radius: 3px;
      background: #212529 !important;
      white-space: nowrap; }
    .c3-chart-container .c3 .c3-tooltip th {
      padding: 6px 6px;
      text-align: left; }
    .c3-chart-container .c3 .c3-tooltip td {
      padding: 4px 6px;
      font-weight: 400; }
    .c3-chart-container .c3 .c3-tooltip td > span {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      vertical-align: baseline; }
    .c3-chart-container .c3 .c3-tooltip td.value {
      text-align: right; }
    .c3-chart-container .c3 .c3-area {
      stroke-width: 0;
      opacity: 0.08; }
    .c3-chart-container .c3 .c3-target-filled .c3-area {
      opacity: 1 !important; }
    .c3-chart-container .c3 .c3-chart-arcs-title {
      dominant-baseline: middle;
      font-size: 1.3em; }
    .c3-chart-container .c3 .c3-chart-arcs .c3-chart-arcs-background {
      fill: #e0e0e0;
      stroke: none; }
    .c3-chart-container .c3 .c3-chart-arcs .c3-chart-arcs-gauge-unit {
      fill: #000;
      font-size: 16px; }
    .c3-chart-container .c3 .c3-chart-arcs .c3-chart-arcs-gauge-max {
      fill: #777; }
    .c3-chart-container .c3 .c3-chart-arcs .c3-chart-arcs-gauge-min {
      fill: #777; }
    .c3-chart-container .c3 .c3-chart-arc .c3-gauge-value {
      fill: #000;
      /*  font-size: 28px !important;*/ }
    .c3-chart-container .c3 .c3-chart-arc.c3-target g path {
      opacity: 1; }
    .c3-chart-container .c3 .c3-chart-arc.c3-target.c3-focused g path {
      opacity: 1; }
    .c3-chart-container .c3 .c3-axis {
      fill: #9aa0ac; }

.search-container {
  margin-bottom: 5px;
  margin-top: 5px; }
  .search-container .search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 15px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd; }
    .search-container .search-box.hovered, .search-container .search-box:hover, .search-container .search-box:active {
      border: 1px solid #467fcf;
      background: #fff; }
    .search-container .search-box input[type=text] {
      border: none;
      box-shadow: none;
      display: inline-block;
      padding: 0;
      background: transparent;
      margin-left: 30px; }
      .search-container .search-box input[type=text]:hover, .search-container .search-box input[type=text]:focus, .search-container .search-box input[type=text]:active {
        box-shadow: none; }
    .search-container .search-box .search-btn {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      color: #aaa;
      border-radius: 3px;
      font-size: 21px;
      padding: 5px 10px 1px;
      border: none; }
      .search-container .search-box .search-btn i {
        margin-bottom: 5px; }
      .search-container .search-box .search-btn:hover {
        color: #fff; }
        .search-container .search-box .search-btn:hover i {
          color: #467fcf; }

.app-organization-dropdown {
  align-items: center; }
  .app-organization-dropdown .dropdown-toggle {
    float: right; }
    .app-organization-dropdown .dropdown-toggle .organization-dropdown-info {
      display: inline-block;
      width: auto;
      padding-top: 16px; }
      .app-organization-dropdown .dropdown-toggle .organization-dropdown-info .avatar-org-dropdown {
        float: left;
        height: 35px;
        margin-right: 5px;
        margin-left: 10px;
        margin-top: -8px; }
      .app-organization-dropdown .dropdown-toggle .organization-dropdown-info .organization-dropdown-name {
        float: right;
        align-items: center;
        margin-top: 7px; }
        .app-organization-dropdown .dropdown-toggle .organization-dropdown-info .organization-dropdown-name .organization-dropdown-title {
          font-size: 1em;
          line-height: 1; }
        .app-organization-dropdown .dropdown-toggle .organization-dropdown-info .organization-dropdown-name .user-dropdown-subtitle {
          font-size: 0.6em; }
      .app-organization-dropdown .dropdown-toggle .organization-dropdown-info:hover {
        color: #2a60d9;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease; }
    .app-organization-dropdown .dropdown-toggle:after {
      display: none; }
  .app-organization-dropdown .dropdown-menu {
    float: right;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9375rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px; }
    .app-organization-dropdown .dropdown-menu .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      background-color: initial;
      border: 0; }
      .app-organization-dropdown .dropdown-menu .dropdown-item .dropdown-icon {
        color: #9aa0ac;
        margin-right: 0.5rem;
        margin-left: -0.5rem;
        width: 1em;
        display: inline-block;
        text-align: center;
        vertical-align: -1px; }
      .app-organization-dropdown .dropdown-menu .dropdown-item:hover {
        background: #f8f9fa; }
    .app-organization-dropdown .dropdown-menu .dropdown-divider {
      height: 0;
      margin: 0.5rem 0;
      overflow: hidden;
      border-top: 1px solid #e9ecef; }

.page-loader-container {
  height: 100%;
  align-items: center;
  justify-content: center; }
  .page-loader-container .page-loader {
    padding-top: 10em;
    padding-bottom: 2em;
    margin: auto 0;
    height: 100% !important;
    text-align: center; }
    .page-loader-container .page-loader i {
      color: #2a60d9;
      font-size: 2em; }
    .page-loader-container .page-loader .loader-text {
      color: #2a60d9; }

#videosSliderHorizontalComponent {
  padding-bottom: 1em;
  padding-top: 0; }
  #videosSliderHorizontalComponent .video-slider-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* for horizontal aligning of child divs */ }
    #videosSliderHorizontalComponent .video-slider-container .video-slider-card {
      margin-right: 1em;
      overflow: hidden; }
      #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-img-thumbnail {
        border-radius: 0.25em;
        width: auto;
        min-width: 100px;
        height: 100px;
        z-index: -1; }
      #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item {
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100px;
        height: 100px;
        border-radius: 0.25em;
        text-align: center;
        background: #000000; }
        #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item .video-slider-hover-action-icon {
          height: 100%;
          opacity: 0.2; }
          #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item .video-slider-hover-action-icon i {
            position: relative;
            padding-top: calc(50% - 20px);
            /* 50% - 3/4 of icon height */
            font-size: 2em;
            align-items: center;
            text-align: center;
            font-weight: 600;
            color: #ffffff; }
          #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item .video-slider-hover-action-icon:hover {
            opacity: 1; }
            #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item .video-slider-hover-action-icon:hover i {
              opacity: 1;
              color: #2a60d9; }
        #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item:hover {
          -webkit-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
          -moz-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
          box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
          border: 1px solid #2a60d9; }
          #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item:hover i {
            color: #2a60d9 !important; }
        #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item.video-slider-item-create {
          background: rgba(154, 160, 172, 0.1) !important; }
          #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item.video-slider-item-create .video-slider-hover-action-icon {
            opacity: 1; }
            #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item.video-slider-item-create .video-slider-hover-action-icon i {
              color: #57667e; }
              #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-item.video-slider-item-create .video-slider-hover-action-icon i:hover {
                opacity: 1;
                color: #2a60d9; }
      #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-info {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 0.8em;
        text-align: center;
        max-width: 100px;
        overflow: hidden;
        opacity: 0; }
        #videosSliderHorizontalComponent .video-slider-container .video-slider-card .video-slider-info .video-title {
          overflow: hidden;
          font-size: 1em;
          text-overflow: ellipsis; }
      #videosSliderHorizontalComponent .video-slider-container .video-slider-card:hover .video-slider-info {
        opacity: 1; }

/* Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
  padding: 0 !important;
  /* Modal Content/Box */ }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .modal .modal-content .modal-header {
      /* The Close Button */ }
      .modal .modal-content .modal-header .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold; }
      .modal .modal-content .modal-header .close:hover,
      .modal .modal-content .modal-header .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }

/* ----- PAGES ----- */
.campaign-cards-container {
  margin-left: 0; }
  .campaign-cards-container .campaign_card .card {
    border-radius: 5px;
    margin-bottom: 10px; }
    .campaign-cards-container .campaign_card .card .card-body {
      padding-bottom: 0; }
      .campaign-cards-container .campaign_card .card .card-body .card-actions-icon {
        float: right;
        color: #9aa0ac;
        font-size: 14px; }
        .campaign-cards-container .campaign_card .card .card-body .card-actions-icon.active {
          color: #2a60d9; }
        .campaign-cards-container .campaign_card .card .card-body .card-actions-icon:hover {
          color: #495057;
          -webkit-transition: color 0.2s ease;
          -moz-transition: color 0.2s ease;
          -o-transition: color 0.2s ease;
          transition: color 0.2s ease; }
      .campaign-cards-container .campaign_card .card .card-body .card-title {
        max-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .campaign-cards-container .campaign_card .card .card-body h6 {
        font-size: 15px;
        color: #467fcf !important; }
      .campaign-cards-container .campaign_card .card .card-body .card-action-links {
        z-index: 999999; }
        .campaign-cards-container .campaign_card .card .card-body .card-action-links .card-link {
          padding: 1rem 0 !important;
          margin: 0 !important;
          text-decoration: none !important;
          color: #9aa0ac;
          font-size: 14px;
          border-radius: 0; }
          .campaign-cards-container .campaign_card .card .card-body .card-action-links .card-link i {
            margin-right: 3px; }
          .campaign-cards-container .campaign_card .card .card-body .card-action-links .card-link.active {
            color: #467fcf; }
          .campaign-cards-container .campaign_card .card .card-body .card-action-links .card-link:hover {
            padding: 1rem 0 !important;
            margin: 0 !important;
            color: #495057;
            -webkit-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            -o-transition: color 0.2s ease;
            transition: color 0.2s ease; }
        .campaign-cards-container .campaign_card .card .card-body .card-action-links .link-campaign-edit {
          float: right; }
        .campaign-cards-container .campaign_card .card .card-body .card-action-links .link-campaign-view {
          float: left; }
    .campaign-cards-container .campaign_card .card:hover {
      -webkit-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
      -moz-box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3);
      box-shadow: 1px 1px 0.5px 0px rgba(70, 127, 207, 0.3); }

.session-add-breakpoint {
  width: 100%; }
  .session-add-breakpoint .session-add-breakpoint-viewer {
    width: 100% !important; }
    .session-add-breakpoint .session-add-breakpoint-viewer img {
      width: 100%; }
    .session-add-breakpoint .session-add-breakpoint-viewer .session-breakpoint-video-footer {
      margin-top: 10px; }
  .session-add-breakpoint .session-add-breakpoint-questions {
    width: 100%; }

.confirm-sign-up-container {
  background: #2a60d9;
  height: 100%;
  min-height: 100vh; }
  .confirm-sign-up-container .signUpBox {
    margin-top: 10%; }

/*# sourceMappingURL=style.css.map */
