.dragonfly-card {

    .card {
  
      .card-body {
        padding-bottom: 0;
  
        h6 {
          font-size: 15px;
          color: #467fcf !important;
  
        }
  
        .card-action-links {
          z-index: 999999;
  
          .card-link {
            padding: 1rem 0 !important;
            margin: 0 !important;
            text-decoration: none !important;
            color: #9aa0ac;
            font-size: 14px;
            border-radius: 0;
    
            i {
              margin-right: 3px;
            }
    
            &.active {
             
              color: #467fcf;
            }
    
            &:hover {
              padding: 1rem 0 !important;
              margin: 0 !important;
            
              color: #495057;
              -webkit-transition: color 0.2s ease;
              -moz-transition: color 0.2s ease;
              -o-transition: color 0.2s ease;
              transition: color 0.2s ease;
            }
          }
  
          .link-campaign-edit,
          .link-video-edit {
            float:right;
          }
  
          .link-campaign-view,
          .link-video-view {
            float: left;
          }
        }
      }
  
      border-radius: 3px;
  
      margin-bottom: 10px;
    }
  }
  