.app-nav {
  background-color: #fff !important;
  color: #495057;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  padding-bottom: 0 !important;
  height: 65px;

  .app-nav-container {
    padding-bottom: 0 !important;
    height: 65px !important;
    // display: inline-flex;

    .app-organization-select {
      // display: inline-block;
      padding: 0 0.75rem;

      .app-nav-logo {
        float: left;
        height: 35px;
        margin-right: 5px;
        margin-left: 10px;
        margin-top: -8px;
      }

      .nav-organization-dropdown {
        //   float: right;
        color: #495057 !important;
        height: 65px;

        .nav-organization-name {
          color: #495057 !important;
        }
      }
    }

    .app-user-dropdown-container {
      // margin-right: auto;
      // margin-left: auto;

      .app-user-dropdown {
        align-items: center;

        .dropdown-toggle {
          float: right;
          // width: 100%;

          .user-dropdown-info {
            display: inline-block;
            width: auto;
            padding-top: 16px;
            .avatar-dropdown {
              float: left;
              height: 35px;
              width: 35px;
              margin-right: 5px;
              border-radius: 50%;
              border: 1px solid #9aa0ac;

              &:hover {
                border: 1px solid #1ba5e7;
                -webkit-transition: color 0.2s ease, border 0.5s ease;
                -moz-transition: color 0.2s ease, border 0.5s ease;
                -o-transition: color 0.2s ease, border 0.5s ease;
                transition: color 0.2s ease, border 0.5s ease;
              }
            }

            .user-dropdown-username {
              float: right;
              align-items: center;
              margin-top: 7px;
              .user-dropdown-title {
                font-size: 0.8em;
                line-height: 1;
              }
              .user-dropdown-subtitle {
                font-size: 0.6em;
              }
            }

            &:hover {
              color:#1ba5e7;
              -webkit-transition: color 0.2s ease;
              -moz-transition: color 0.2s ease;
              -o-transition: color 0.2s ease;
              transition: color 0.2s ease;
            }
          }

          &:after {
            display: none;
          }

        }

        .dropdown-menu {
          float: right;
          padding: 0.5rem 0;
          margin: 0.125rem 0 0;
          font-size: 0.9375rem;
          color: #495057;
          text-align: left;
          list-style: none;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 40, 100, 0.12);
          border-radius: 3px;

          .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            // color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: initial;
            border: 0;

            .dropdown-icon {
              color: #9aa0ac;
              margin-right: 0.5rem;
              margin-left: -0.5rem;
              width: 1em;
              display: inline-block;
              text-align: center;
              vertical-align: -1px;
            }

            &:hover {
              background: #f8f9fa;
            }
          }

          .dropdown-divider {
            height: 0;
            margin: 0.5rem 0;
            overflow: hidden;
            border-top: 1px solid #e9ecef;
          }
        }
      }
    }
  }
}

.app-menu {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);

  .nav {
    .nav-item {
      padding: 0 0.75rem;

      .nav-link {
        padding: 1rem 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        color: #9aa0ac;
        font-size: 15px;
        border-radius: 0;

        i {
          margin-right: 3px;
        }

        &.active {
          border-right: none !important;
          border-left: none !important;
          border-top: none !important;
          border-radius: 0;
          border-bottom: 1px solid #1ba5e7;
          color: #467fcf;
        }

        &:hover {
          padding: 1rem 0 !important;
          margin: 0 !important;
          border-right: none !important;
          border-left: none !important;
          border-top: none !important;
          border-radius: 0;
          border-bottom: 1px solid #495057;
          color: #495057;
          -webkit-transition: color 0.2s ease, border 0.5s ease;
          -moz-transition: color 0.2s ease, border 0.5s ease;
          -o-transition: color 0.2s ease, border 0.5s ease;
          transition: color 0.2s ease, border 0.5s ease;
        }
      }
    }
  }
}
