.app-nav {
    
}


.app-menu {
    background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);

//   .app-nav-container {
//     width: 100%;
//     padding-right: 0.75rem;
//     padding-left: 0.75rem;
//     margin-right: auto;
//     margin-left: auto;

//     @media (min-width: 1280px) {
//       max-width: 1200px;
//     }
//   }

  .nav {
    .nav-item {
      padding: 0 0.75rem;

      .nav-link {
        padding: 1rem 0 !important;
        margin: 0 !important;
        text-decoration: none !important;
        color: #9aa0ac;
        font-size: 15px;

        i {
          margin-right: 3px;
        }

        &.active {
          border-right: none !important;
          border-left: none !important;
          border-bottom: 1px solid #1ba5e7;
          color: #467fcf;
        }

        &:hover {
          padding: 1rem 0 !important;
          margin: 0 !important;
          border-right: none !important;
          border-left: none !important;
          border-bottom: 1px solid #495057;
          color: #495057;
          -webkit-transition: color 0.2s ease, border 0.5s ease;
          -moz-transition: color 0.2s ease, border 0.5s ease;
          -o-transition: color 0.2s ease, border 0.5s ease;
          transition: color 0.2s ease, border 0.5s ease;
        }
      }
    }
  }
}
