.campaign_card {

  .card {

      img {
        height: 200px !important;
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
      }

    border-radius: 3px;
  }
}
