.session-add-breakpoint {
    width: 100%;
    


    .session-add-breakpoint-viewer {
        width: 100% !important;

        img {
            width: 100%;
        }


        .session-breakpoint-video-footer {
            margin-top: 10px;
        }
    }

    .session-add-breakpoint-questions {
        width: 100%;

    }
}