.dragon-navbar {
    background-color: #215FAA;
}

.dragon-navbar a {
    color:white;
}

.dragon-logo{
    margin:30px;
}


.dragon-login-box {
    margin:14px 0px 0px 0px;
    font-size:12px;
}

.dragon-hidden {
    display:none;
}

.dragon-user-menu {
    width:40px;
    color:white;
    cursor:pointer;
    padding:8px;
}

.dragon-menu-visible {
    position:absolute;
    width:200px;
    overflow:hidden;
    background-color:white;
    color:#303030;
    border-radius: 3px;
    border:1px solid #d0d0d0;
    z-index: 10000000;
}


.dragon-menu-right {
    right: 20px;
}

.dragon-menu-visible > div {
    width:100%;
    padding:10px;
    border-bottom:1px solid #d0d0d0;
    
}


.dragon-menu-visible > div:hover {
    background-color:#f0f0f0;
    
}


.dragon-org-name {
    color:white;
    padding:10px;
    font-size:16px;
}


.dragon-org-menu {
    width:250px;
    cursor:pointer;
    
}



.dragon-left-menu {
    font-size:18px;
    border-right:1px solid #a0a0a0;
    margin-top:20px;
    padding-bottom:20px;
}


.dragon-left-menu a:hover{
    text-decoration: none;
}


.dragon-left-menu-item {
    padding:30px 30px 0px 30px;
    display:block;
    border-left:2px solid white;
}

.dragon-left-menu-item-current {
    padding:30px 30px 0px 30px;
    display:block;
    background-image: url("./images/insect-74x80.png");
    background-size: 48px 48px;
    background-repeat: no-repeat;
}


.dragon-select-list {
    width:100%;
    display: table;
}

.dragon-pointer {
    cursor:pointer;
}

.dragon-select-list-row {
    display:table-row;
}

.dragon-select-list-cell {
    padding:8px;
    font-size:15px;
    color:#303030;
    display:table-cell;
    border-bottom:1px solid #d0d0d0;
}

.dragon-select-list-form-cell {
    padding:2px;
    font-size:15px;
    color:#303030;
    display:table-cell;
}

.dragon-select-list-row:hover {
    background-color:#f0f0f0;
}

.dragon-breakpoints {
    display: table;
    width:100%;
}

.dragon-breakpoint {
    display:table-row;
}

.dragon-breakpoint-info {
    display:table-cell;
    padding:2px;
    width:150px;
}

.dragon-breakpoint-info img {
    padding:8px;
    width:100%;
}


.dragon-breakpoint-questions {
    padding:8px;
    display:table-cell;
}

 
.dragon-gray { color:#d0d0d0;}
.dragon-green { color:#00b200;}
.dragon-fw-150 {width:150px;}
.dragon-fw-50 {width:50px;}

.dragon-error {
    color:red;
}


.dragon-stars {
    color: #a0a0a0;
}

.dragon-stars:hover {
    cursor:pointer;
    color: #215FAA;
}

.dragon-link { cursor:pointer; color: #215FAA; text-decoration:none;}
.dragon-question-cell i { opacity: 0; }
.dragon-question-cell:hover i {  opacity: 1;}
.dragon-question-cell:hover { color: #215FAA; cursor:pointer;}


.dragonfly-progress { margin-top:12px;}


.dragonfly-blue {color: #215FAA;}
.dragon-12px { font-size:12px;}
.dragon-13px { font-size:13px;}
.dragon-14px { font-size:14px;}
.dragon-15px { font-size:15px;}
.dragon-16px { font-size:16px;}
.dragon-17px { font-size:17px;}
.dragon-18px { font-size:18px;}
.dragon-19px { font-size:19px;}
.dragon-20px { font-size:20px;}