.dragonfly-red { color:red;}
.dragonfly-green { color:green;}
.divCenter { text-align:center;}
.topNavLogo { padding:4px; }
.signUpBox { padding: 50px; background-color:white; border-radius: 8px; border:1px solid #00A2E9;}
.question1and2 { background-color:#215FAA; color:white; font-size:1.2em;}
.question3and4 { background-color:#00A2E9; color:white; font-size:1.2em;}
.question5and6 { background-color:#FFFFFF; color:#215FAA; font-size:1.2em;}
.question7and8 { background-color:#215FAA; color:white; font-size:1.2em;}
.dragonfly-blue {color: #215FAA;}
.NPStext { font-size:0.8em; font-weight:bold;}

.home-bg-outer { 
        background-image: url("./images/dragonfly-bg.JPG"); 
        background-repeat:no-repeat;
        background-size:100%;
}
.home-bg-inner { 
    background-color:rgba(255, 255, 255, 0.8); 
    margin:20px 10px;
    border-radius: 8px;
}

.dragon-navbar-outside { background-color: #FFFFFF; border-bottom:1px solid #00A2E9; }
.dragon-navbar-inside { background-color: #215FAA; }

.dragon-navbar a {
    color:#00A2E9;
}

.dragon-logo{
    margin:30px;
}


.dragon-login-box {
    margin:14px 0px 0px 0px;
    font-size:12px;
    float:right;
}

.dragon-hidden {
    display:none;
}



@media only screen and (min-width: 481px) {
    .dragon-video-show {
        display:block;
    }
    .dragon-video-hide {
        display:block;
    }
}

@media only screen and (max-width: 480px) {
    .dragon-video-show {
        display:block;
    }
    .dragon-video-hide {
        display:none;
    }
}


.dragon-nps-col {
    padding:8px;
    text-align:center;
}


.dragon-modal {
    position: absolute;  left: 0; right: 0; 
    margin-left: auto; margin-right: auto; display:block; width:600px; 
    background-color:white; border-color:gray; border-radius:4px; height:400px;
    z-index: 2147483647;
}

.opacity0 { display:none; }
.opacity1 { opacity: 0.05; top:-100px;}
.opacity2 { opacity: 0.10; top:-90px;}
.opacity3 { opacity: 0.15; top:-80px;}
.opacity4 { opacity: 0.20; top:-70px;}
.opacity5 { opacity: 0.25; top:-60px;}
.opacity6 { opacity: 0.30; top:-50px;}
.opacity7 { opacity: 0.35; top:-40px;}
.opacity8 { opacity: 0.40; top:-30px;}
.opacity9 { opacity: 0.45; top:-20px;}
.opacity10 { opacity: 0.50; top:-10px;}
.opacity11 { opacity: 0.55; top:0px;}
.opacity12 { opacity: 0.60; top:10px;}
.opacity13 { opacity: 0.65; top:20px;}
.opacity14 { opacity: 0.70; top:30px;}
.opacity15 { opacity: 0.75; top:40px;}
.opacity16 { opacity: 0.80; top:50px;}
.opacity17 { opacity: 0.85; top:60px;}
.opacity18 { opacity: 0.90; top:70px;}
.opacity19 { opacity: 0.95; top:80px;}
.opacity20 { opacity: 1; top:85px;}
.opacity21 { opacity: 1; top:90px;}
.opacity22 { opacity: 1; top:94px;}
.opacity23 { opacity: 1; top:96px;}
.opacity24 { opacity: 1; top:98;}
.opacity25 { opacity: 1; top:100;}
.opacity26 { opacity: 1; top:100px;}
.opacity27 { opacity: 1; top:100px;}
.opacity28 { opacity: 1; top:100px;}
.opacity29 { opacity: 1; top:100px;}
.opacity30 { opacity: 1; top:100px;}
.opacity31 { opacity: 1; top:100px;}
.opacity32 { opacity: 1; top:100px;}
.opacity33 { opacity: 1; top:100px;}
.opacity34 { opacity: 1; top:100px;}
.opacity35 { opacity: 1; top:100px;}

.dragon-modal-content {
    width: 100%; 
    padding:20px;
}


.dragon-modal-actionbox {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 80px; 
    border-top: 1px solid #f0f0f0;
    padding:20px;
}


.dragon-user-menu {
    width:40px;
    color:white;
    cursor:pointer;
    padding:8px;
}


.dragon-results-menu {
    width:600px;
    color:black;
    cursor:pointer;
    padding:8px;
    text-align:right;
}

.dragon-earned {
    font-size:20px;
}

.dragon-validation-message {
    width:100%;
    color:red;
    padding:10px 0px;
}


.dragon-enlarge { font-size:125%; }
.dragon-enlarge-xx { font-size:200%; }

.dragon-powered-by {
    width:250px;
    padding-right:20px;
}
.dragon-powered-by div {
    position: absolute;
    bottom: 10px;
    color: #215FAA;
    font-weight:bold;
}
.dragon-powered-by img {
    width:150px;
    float:right;
}

.dragon-menu-visible {
    position:absolute;
    width:200px;
    overflow:hidden;
    background-color:white;
    color:#303030;
    border-radius: 3px;
    border:1px solid #d0d0d0;
    z-index: 10000000;
}


.dragon-menu-visible-wide {
    position:absolute;
    width:600px;
    overflow:hidden;
    background-color:white;
    color:#303030;
    border-radius: 3px;
    border:1px solid #d0d0d0;
    z-index: 10000000;
}


.dragon-menu-right {
    right: 20px;
}

.dragon-menu-visible > div {
    width:100%;
    padding:10px;
    border-bottom:1px solid #d0d0d0;
    
}


.dragon-menu-visible > div:hover {
    background-color:#f0f0f0;
    
}


.dragon-org-name {
    color:white;
    padding:10px;
    font-size:16px;
}


.dragon-org-menu {
    width:250px;
    cursor:pointer;
}




.dragon-left-menu {
    font-size:18px;
    border-right:1px solid #a0a0a0;
    margin-top:20px;
    padding-bottom:20px;
}


.dragon-left-menu a:hover{
    text-decoration: none;
}


.dragon-left-menu-item {
    padding:30px 30px 0px 30px;
    display:block;
    border-left:2px solid white;
}

.dragon-left-menu-item-current {
    padding:30px 30px 0px 30px;
    display:block;
    background-image: url("./images/insect-74x80.png");
    background-size: 48px 48px;
    background-repeat: no-repeat;
}


.dragon-select-list {
    width:100%;
    display: table;
}

.dragon-pointer {
    cursor:pointer;
}

.dragon-select-list-row {
    display:table-row;
}

.dragon-select-list-cell {
    padding:8px;
    font-size:15px;
    color:#303030;
    display:table-cell;
    border-bottom:1px solid #d0d0d0;
}

.dragon-select-list-form-cell {
    padding:2px;
    font-size:15px;
    color:#303030;
    display:table-cell;
}

.dragon-select-list-form-cell-lg {
    padding:2px;
    font-size:20px;
    color:#303030;
    display:table-cell;
}

.dragon-select-list-row:hover {
    background-color:#f0f0f0;
}

.dragon-breakpoints {
    display: table;
    width:100%;
}

.dragon-breakpoint {
    display:table-row;
}

.dragon-breakpoint-info {
    display:table-cell;
    padding:2px;
    width:150px;
}

.dragon-breakpoint-info img {
    padding:8px;
    max-width:100%;
}


.dragon-breakpoint-questions {
    padding:8px;
    display:table-cell;
}

 
.dragon-gray { color:#d0d0d0;}
.dragon-green { color:#00b200;}
.dragon-fw-150 {width:150px;}
.dragon-fw-50 {width:50px;}

.dragon-error {
    color:red;
}


.dragon-stars {
    color: #a0a0a0;
}

.dragon-stars:hover {
    cursor:pointer;
    color: #215FAA;
}

.dragon-link { cursor:pointer; color: #215FAA; text-decoration:none;}
.dragon-question-cell i { opacity: 0; }
.dragon-question-cell:hover i {  opacity: 1;}
.dragon-question-cell:hover { color: #215FAA; cursor:pointer;}

.dragon-white { background-color:white; }
.dragon-home-header { color: #00A2E9; font-size:50px; }
.dragon-standard-text { color: #215FAA; font-size:30px; }
.dragon-blue-rounded { border-radius:10px; background-color:#215FAA; color:white; font-size:30px; padding:30px; margin:30px;}

.dragonfly-progress { margin-top:12px;}


.dragonfly-blue {color: #215FAA;}
.dragon-12px { font-size:12px;}
.dragon-13px { font-size:13px;}
.dragon-14px { font-size:14px;}
.dragon-15px { font-size:15px;}
.dragon-16px { font-size:16px;}
.dragon-17px { font-size:17px;}
.dragon-18px { font-size:18px;}
.dragon-19px { font-size:19px;}
.dragon-20px { font-size:20px;}



#questionResultsChart { 
   width: 500px;
   height: 400px;
}

