.dragon-navbar {
    background-color: #215FAA;
}

.dragon-navbar a {
    color:white;
}

.dragon-logo-img {
    -webkit-filter: brightness(1000000%); /* Safari 6.0 - 9.0 */
    filter: brightness(1000000%);
    width:58px;
    padding:4px 0px 6px 0px;
}


.dragon-login-box {
    margin:14px 0px 0px 0px;
    font-size:11px;
}

.dragon-hidden {
    display:none;
}

.dragon-user-menu {
    width:40px;
    color:white;
    cursor:pointer;
    padding:8px;
}

.dragon-menu-visible {
    position:absolute;
    width:200px;
    overflow:hidden;
    background-color:white;
    color:#303030;
    border-radius: 3px;
    border:1px solid #d0d0d0;
    z-index: 10000000;
}


.dragon-menu-right {
    right: 20px;
}

.dragon-menu-visible > div {
    width:100%;
    padding:10px;
    border-bottom:1px solid #d0d0d0;
    
}


.dragon-menu-visible > div:hover {
    background-color:#f0f0f0;
    
}


.dragon-org-name {
    color:white;
    padding:10px;
    font-size:16px;
}


.dragon-org-menu {
    width:200px;
    cursor:pointer;
    
}



.dragon-left-menu {
    font-size:18px;
    border-right:1px solid #a0a0a0;
    margin-top:20px;
    padding-bottom:20px;
}


.dragon-left-menu a:hover{
    text-decoration: none;
}


.dragon-left-menu-item {
    padding:30px 30px 0px 30px;
    display:block;
    border-left:2px solid white;
}

.dragon-left-menu-item-current {
    padding:30px 30px 0px 30px;
    display:block;
    background-image: url("./images/insect-74x80.png");
    background-size: 48px 48px;
    background-repeat: no-repeat;
}