.home-banner {
    .hb-text {

        h3 {
            font-size: 4.5em;
        }

        p {
            font-size: 1.4em;
        }
    }
}

.footer-about {

    .fot-logo {
        padding-bottom: 0px !important;
        
        img {
            margin-top: -36px;
            margin-left: -36px;
        }
    }
    
}