.home-banner {
    .hb-text {

        h3 {
            font-size: 4.5em;
        }

        p {
            font-size: 1.4em;
        }
    }
}

.footer-about {

    .fot-logo {
        padding-bottom: 0px !important;
        
        img {
            margin-top: -36px;
            margin-left: -36px;
        }
    }
    
}

.text-white {
    color: $dragonfly-white !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.price-text-white-30 {
    color: $dragonfly-white !important;
    font-size: 30px;
}

.font-24 {
    font-size: 24px !important;
}


.landing-graphic-container {
    margin-top: 100px;
    padding-left: 2em;
    padding-right: 2em;
    .dragondly-mql-graphic-section {
        position: relative;
        top: 0;
        margin-top: -30px;
        -moz-transition: ease all 0.55s;
        -o-transition: ease all 0.55s;
        -webkit-transition: ease all 0.55s;
        transition: ease all 0.55s;
    
      &:hover {
        top: -10px;
        
      }
    }
}

